.btn {
    border: 4px solid #45FEFE;
    border-radius: 100px;
    font-size: 1.3rem;
    cursor: pointer;
    width: 320px;
    min-width: 320px;
    display: block;
    padding: 16px;
    font-weight: bold;
}

.btn-filled {
    background-color: #45FEFE;
}

.btn-link {
    text-decoration: none;
    color: black;
    width: 280px;
    min-width: 280px;
}