@page "/"

<PageTitle>Calculadora Imc</PageTitle>

<div class="container">
    <Slide Id="calculator">
        <img src="imgs/icon-no-bg.png" alt="Calculadora de Imc" />
        <h1>Calculadora de Imc</h1>
        <Calculator />
    </Slide>

    <Slide Id="history">
        <History></History>
    </Slide>

    <Slide Id="about">
        <About />
    </Slide>

</div>